/* DIV table*/
div.billtable { font-size: 80%;
	display: table;
	font-family: courier, serif;
	border: 0px none gray;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
div.divtable { font-size: 80%;
	display: table;
	font-family: arial, sans-serif, serif;
	border: 0px none gray;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
div.divtable_list  { font-size: 100%;
	display: table;
	font-family: arial, sans-serif, serif;
	border: 1px solid gray;
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 4px 4px 4px 4px;
}
div.divtable_input  { font-size: 100%;
	display: table;
	font-family: arial, sans-serif, serif;
	border: 1px none gray;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/*
	Table rows
*/
/*===================*/
div.divtable_input div.row {display: table-row;
	width: 100%;
	border: 0px none black;
}
div.divtable_input div.row-blank {display: table-row;
	width: 100%;
	background-color: white;
	border: 0px none black;
	font-size: 1px;
}
div.divtable_input div.row div {
	position: static;
	display: table-cell;
	background-color: #f4f2Ff;
	border: 0px none black;
	border-top: 1px solid black;
	padding: 2px 0px 2px 4px;
}
div.divtable_input div.row div div{
	position: static;
	background-color: #f4f2Ff;
	border: 0px none black;
	padding: 0px 0px 0px 0px;
}
div.divtable_input   div.row div.label {
	display: table-cell;
	vertical-align: top;
	background-color: deepskyblue;
	text-align: right;
	border: 0px none black;
	border-top: 1px solid black;
	padding: 2px 4px 2px 0px;
	list-style-type: none;
}
div.divtable_input   li {
		list-style-type: none;
}
div.divtable_input  div.row input { font-size: 100%;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
div.divtable_input  div.row textarea { font-size: 100%;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
div.divtable_input  div.row select { font-size: 100%;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
div.divtable_input  div.row div input.textfield {
	background-color: #D7E5F2;
	border: 1px solid gray;	
}
/*===================*/
/*===================*/
div.divtable div.row {display: table-row;
	width: 100%;
	border: 0px none black;	
}
div.divtable div.row div {
	position: static;
	border: 0px none black;
}
div.divtable div.divrow {display: table-row;
	width: 100%;
	border: 0px none black;
}
div.divtable div.row-blank {display: table-row;
	width: 100%;
	background-color: white;
	border: 0px none blue;
	font-size: 1px;
}
div.divtable   div.divrow div {
	display: table-cell;
	border: 1px solid blue;
}
div.divtable div.divrow div.label {
	display: table-cell;
	vertical-align: top;
	background-color: deepskyblue;
	text-align: right;
	border: 0px none black;
	border-top: 1px solid black;
	padding: 2px 4px 2px 0px;
}
div.divtable  div.divrow input { font-size: 100%;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
div.divtable  div.divrow select { font-size: 100%;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
/*===================*/
div.divtable_list li {
	list-style-type: none;
}
/*===================*/
div.row {	display: table-row;
	width: 100%;
	border: 0px none black;
}
div.rowspan {	display: table-row;
	width: 100%;
	border: 0px none black;
}
div.row div {
	display: table-cell;
	border-right: 1px solid black;
}
div.row input { font-size: 8px;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
div.row select { font-size: 8px;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
/*===================*/
div.row_lite {	display: table-row;
	width: 100%;
	border: 0px none black;
	background-color: yellow;
}
div.row_lite div {
	display: table-cell;
	border-right: 1px solid black;
}
div.row_lite input { font-size: 8px;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
/*===================*/
div.row_go {	display: table-row;
	width: 100%;
	border: 0px none black;
	background-color: green;
	color: white;
}
div.row_go div {
	display: table-cell;
	border-right: 1px solid black;
}
div.row_go input { font-size: 8px;
			background-color: #D7E5F2;
			border: 1px solid gray;	
}
/*===================*/
div.rowtitle { font-weight: bold;
	display: table-row;
	text-align: center;
	border-bottom: 1px solid black;
	width: 100%;
}
div.rowtitle div {
	display: table-cell;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
/*===================*/
div.rowtotal { font-weight: bold;
	display: table-row;
	border-top: 1px solid black;
	width: 100%;
}
div.rowtotal div {
	display: table-cell;
	border-right: 1px none black;
	border-top: 1px solid black;
}
/*===================*/
div.divtable input { background-color: #D7E5F2;
	border: 1px solid gray;
	margin: 1px 1px 1px 1px;
}
/*
	columns
*/
div.divtable div.clear {border: 0px none black; }
div.divtable_list div.clear {border: 0px none black; }
div.billtable div.last { border-right: 0px none white;}
div.billtable div.w50 { width: 50%;}
div.billtable div.w40 { width: 40%;}
div.billtable div.w30 { width: 30%;}
div.billtable div.w25 { width: 25%;}
div.billtable div.w20 { width: 20%;}
div.billtable div.w15 { width: 15%;}
div.billtable div.w10 { width: 10%;}
div.billtable div.text { text-align: left;}
div.billtable div.num {  text-align: right;}
div.billtable input { background-color: #D7E5F2;
	border: 1px solid gray;
	margin: 1px 1px 1px 1px;
}
div.billtable img {display: inline; width:25px;}

/*
	Query Maker
*/

div.QryMkrTbl {
	font-size: 10px;
	position: relative;
	display: table;
	font-family: arial, sans-serif, serif;
	border: 1px none purple;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 20px;	
}

div.QryMkrTbl div.tableitem { 
	display: table-row;
	text-align: center;
	height: 20px;
}

div.QryMkrTbl div.tableitem div.tablegroup{ 
	display: table-cell;
}
div.QryMkrTbl div.tableitem div.tablecol { 
	display: block;
	margin: 1px 1px 1px 1px;	
	border: 1px none gray;
	overflow: auto; 
}

div.QryMkrTbl div.tableitem div.tablecol li {
	text-align: center;
	padding: 1px 1px 1px 1px;	
	list-style-type: none;
}

div.QryMkrTbl div.QryMkrTbl {
	background-color: gray;
}